// General purpose classes 

.hide_me {
    display: none;
}

.margin_bottom_mid {
    margin-bottom: 1rem;
}

.margin_bottom_small {
    margin-bottom: .5rem;
}

.center_align {
    text-align: center;
}