$color-gray-dark: #2c2929;
$color-gray-light: #726d6d;
$color-gray-light-1: #a8a1a1;
$color-gray-light-2: #ccc3c3;
$color-gray-light-3: #fcfafa;

$color-white: #fff;
$color-black: #000;

$color-button-blue: #1073f5;
$color-green-light: #6df384;